<h1>New Recommendation</h1>

<%= form_with(model: @recommendation, local: true) do |form| %>
  <% if @recommendation.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prevented this recommendation:</h2>
      <ul>
        <% @recommendation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id, "Select Book" %><br>
    <%= form.collection_select :book_id, Book.all, :id, :title, prompt: "Choose a book" %>
  </div>

  <div class="field">
    <%= form.label :review %><br>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit "Post Recommendation" %>
  </div>
<% end %>

<%= link_to "Back", recommendations_path %>