<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 position-fixed top-0 z-3">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
     <%= link_to "Pagepal", root_path, class: "navbar-brand mb-0 h1" %>
      <% if user_signed_in? %>
        <% if current_user.profile_image.attached? %>
          <%= link_to user_path(current_user), class: "nav-link d-flex align-items-center" do %>
            <%= image_tag current_user.profile_image,
                  alt: "Profile",
                  class: "rounded-circle",
                  style: "width:40px; height:40px; object-fit:cover;" %>
            <span class="ms-2">My Profile</span>
          <% end %>
        <% else %>
          <%= link_to user_path(current_user), class: "nav-link d-flex align-items-center" do %>
            <%= image_tag "https://tse2.mm.bing.net/th?id=OIP.MNYMRopweKA9axhd73z_GwHaE8&pid=Api&P=0&h=180",
                  alt: "Default Profile",
                  class: "rounded-circle",
                  style: "width:40px; height:40px; object-fit:cover;" %>
            <span class="ms-2">My Profile</span>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-light" %>
    <% end %>
  </div>
</nav>
<% if current_page?(root_path) %>
<div class="bg-light py-1 border-bottom text-center mt-5 pt-2">
  <p class="mb-0 fw-semibold text-dark">Recommended Books</p>
</div>
<% end %>